#
# huawei touchscreen driver configuration
#

menuconfig SAMSUNG_TS_KIT_3_0
	tristate "SAMSUNG_TS_KIT_3_0 samsung.lsi touch drivers"
	default n
	help
	  If you say yes here you get support for huawei touchscreen.