menu "Hisilicon video venc support"
config HI_VCODEC_VENC_HI3660
    #depends on ANDROID_PMEM
    tristate "Support for venc"
    default n
    help
        The decode device provides venc function
endmenu
