#
# Synaptics TCM touchscreen driver configuration
#
menuconfig SYNAPTICS_TCM_TS_KIT
	tristate "Synaptics TCM touchscreen"
	default n
	help
	  Say Y here if you have a Synaptics TCM touchscreen connected
	  to your system.

	  If unsure, say N.
