config HISI_IRQ_REGISTER
	bool "record irq register"
	depends on HISI_BB
	default n
	help
	  This module can record irq register.

config HISI_REENTRANT_EXCEPTION
	bool "reentrant exception"
	depends on HISI_BB
	default n
	help
	  this module deal with reentrant exception.

config HISI_TIME_HOOK
	bool "support print time call trace "
	depends on HISI_BB
	default n
	help
	  Say 'Y' here if you want to print time call trace.
