menuconfig HUAWEI_VIBRATOR
	bool "huawei vibrator driver"
	default n
	help
	Say yes here to support the huawei vibrator driver.

source "drivers/huawei_platform/vibrator/drv2605/Kconfig"
source "drivers/huawei_platform/vibrator/classd_vibrator/Kconfig"