config HISI_PERIDVFS
	bool "HISI PERIDVFS"
	default n
config HISI_CLK_LOW_TEMPERATURE_JUDGE_BY_VOLT
	depends on HISI_PERIDVFS
	bool "HISI CLK LOW TEMPERATURE PROPERTY JUDGE BY VOLTAGE"
	default n
config HISI_PERI_FAST_AVS
	depends on HISI_PERIDVFS
	depends on HISI_MAILBOX
	bool "HISI PERI FAST AVS"
	default n
config HISI_PERI_AVS_IPC_NOTIFY
	depends on HISI_PERIDVFS
	depends on HISI_MAILBOX
	bool "HISI PERI AVS IPC NOTIFY"
	default n
