config HW_ZEROHUNG
	depends on HW_LOGGER
	bool "Huawei zero hung driver"
	default n
	---help---
	  This feature support to catch hung log

config HW_CGROUP_INFO
	depends on CGROUPS
	depends on CGROUP_FREEZER
	bool "Huawei cgroup info for dfr"
	default n
	---help---
	  This feature support to catch freezer cgroup hung
