source "drivers/huawei_platform/power/charger/Kconfig"
source "drivers/huawei_platform/power/power_mesg/Kconfig"
source "drivers/huawei_platform/power/battery/Kconfig"
source "drivers/huawei_platform/power/coul/Kconfig"
source "drivers/huawei_platform/power/hw_kstate/Kconfig"
source "drivers/huawei_platform/power/hw_ptm/Kconfig"
source "drivers/huawei_platform/power/ate/Kconfig"
source "drivers/huawei_platform/power/smpl/Kconfig"
source "drivers/huawei_platform/power/usb_short_circuit_protect/Kconfig"
source "drivers/huawei_platform/power/cpu_buck/Kconfig"
source "drivers/huawei_platform/power/water_check/Kconfig"
source "drivers/huawei_platform/power/buckboost/Kconfig"
source "drivers/huawei_platform/power/pid_socket/Kconfig"
source "drivers/huawei_platform/power/wifi_filter/Kconfig"
source "drivers/huawei_platform/power/boost_5v/Kconfig"
source "drivers/huawei_platform/power/batt_acr_detect/Kconfig"
source "drivers/huawei_platform/power/power_thermalzone/Kconfig"
source "drivers/huawei_platform/power/battery_temp_fitting/Kconfig"
source "drivers/huawei_platform/power/power_debug/Kconfig"
