#
# (C) COPYRIGHT 2012 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#

config MALI_PM_DEMAND
        bool "Switch power policy"
        depends on MALI_MIDGARD && MALI_EXPERT
        default n
        help
          switch policy for different platform, fpga or chip

config REPORT_VSYNC
        bool "Enabel REPORT_VSYNC"
        depends on MALI_MIDGARD && MALI_EXPERT
        default y
        help
          Enable REPORT_VSYNC

config MALI_IDLE_AUTO_CLK_DIV
        bool "Idle auto clock divide"
        depends on MALI_MIDGARD && MALI_EXPERT
        default y
        help
          when GPU in IDLE state, auto decrease the clock rate

config MALI_GPU_DRM_HI3660
	bool "Enable gpu drm feature for hi3660"
	depends on MALI_MIDGARD && MALI_EXPERT
	default n
	help
	  enable mali gpu drm feature

config HISI_HW_VOTE_GPU_FREQ
	bool "Enable hardware vote gpu freq feature"
	depends on PM_DEVFREQ && HISI_HW_VOTE
	default n
	help
	  enable hardware vote gpu freq feature

config HISI_GPU_CORESWITCH
	bool "Enable core switch feature in gpu low frequency"
	depends on MALI_MIDGARD && MALI_EXPERT
	default n
	help
		enable cores shutdown when low utilisation at low frequency to save power

config HISI_LAST_BUFFER
	bool "Last buffer"
	depends on MALI_MIDGARD && MALI_EXPERT && MALI_PLATFORM_HISILICON && HISI_LB
	default n
	help
	  Select  this option to enable last buffer support.
