menu "Huawei Device Usage Big-data Analytics Initiative Support"

config HUAWEI_DUBAI
	bool "Huawei Device Usage Big-data Analytics Initiative Support"
	default n
	help
	  This driver provides DUBAI feature

config HUAWEI_DUBAI_TASK_CPU_POWER
	bool "Huawei DUBAI Task CPU Power"
	default n
	depends on HUAWEI_DUBAI && (CPU_FREQ_POWER_STAT || ARCH_MSM)
	help
	  Get task cpu power

endmenu
