#sensor unification for differ platform
menuconfig HUAWEI_SENSORS_INPUT_INFO
	bool "huawei sensor input info"
	default n
	help
	Say yes here to support the huawei sensor input information.

source "drivers/huawei_platform/sensor/fingerprint/Kconfig"
source "drivers/huawei_platform/sensor/hall/Kconfig"
source "drivers/huawei_platform/sensor/touch_key/Kconfig"
source "drivers/huawei_platform/sensor/color_sensor/Kconfig"
source "drivers/huawei_platform/sensor/step_motor/Kconfig"
source "drivers/huawei_platform/sensor/pos_hall/Kconfig"