menu "TEE OS"

config SECURE_EXTENSION
	bool "security extension support"
	default n
	help
	  Include Security Extension.

config  TZDRIVER
	tristate "Secure Execution Communicator driver"
	default n
	depends on SECURE_EXTENSION
	help
	  Provides a communication interface between userspace and
	  TrustZone Operating Environment.

config TEELOG
	tristate "Secure Execution Log driver"
	default n
	depends on TZDRIVER
	help
	  TEEOS log

config TEE_TUI
	tristate "Trusted user interface driver"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver

config TEE_TUI_ION
	tristate "Trusted user interface driver for ION"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver

config TEE_TUI_ION_ADD
	tristate "Trusted user interface driver for add ION memory"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver
config TEE_TUI_FP
	tristate "Trusted user interface driver for FP"
	default n
	depends on TZDRIVER
	help
	  Trusted user interface diver

config TEE_CPU_MIGRATION
	tristate "TEE cpu core migration"
	default n
	depends on TZDRIVER
	help
	  TEE cpu core migration

config HISI_SPI_SMC
	bool "hisi spi smc"
	default n

config HISI_SPI1_SMC
	bool "hisi spi1 smc"
	default n

config SECS_POWER_CTRL
	bool "secs power ctrl"
	default n

config TEE_CFC
	bool "Enable CFC to protect TEE"
	select PID_IN_CONTEXTIDR
	select TEE_CFC_ABI
	depends on ((!CORESIGHT) && (!CORESIGHT_SOURCE_ETM4X) && (!CORESIGHT_LINK_AND_SINK_TMC) && (!CONFIG_CORESIGHT_SINK_TPIU) && (!CONFIG_CORESIGHT_SINK_ETBV10) && (!CONFIG_CORESIGHT_LINKS_AND_SINKS) && (!CONFIG_HISI_CORESIGHT_TRACE))
	default y
	help
	  Code in TZDriver in a continuous text section and use smc call
	  to let TEEOS protect these code using DMSS. CoreSight based control
	  flow certification should be applied.

config TEE_CFC_ABI
	bool "Enable CFC ABI"
	default y
	help
	  TC_NS_SMC_CMD depends on TEEOS. If TEEOS selects FEATURE_CFC,
	  TEE_CFC_ABI should be selected even if TEE_CFC is off.

config TZDRIVER_CODE_ALIGN_SHIFT
	int "Alignment of code in tzdriver"
	range 16 19
	default 19
	depends on TEE_CFC
	help
	  Code of TZDriver should be aligned due to DMSS limitation.
	  There are two DMSS. In Hi3660, we need align tzdriver in
	  512kB physical memory boundry. In Hi3670 the limitation
	  reduced to 64kB.

config HISI_SECBOOT_IMG
    bool "tzdriver split secboot img into modem and ap"
    default n
    help
      Macro defined for splitting modem and ap img

source drivers/hisi/tzdriver/libhwsecurec/Kconfig

endmenu
