config HW_NETBOOSTER_MODULE
    tristate "netbooster:video acceleration and net ai change"
    default n
    help
    This module adds netbooster kernel suport for kirin chipset.

config APP_QOE_AI_PREDICT
    tristate "hidata app qoe"
    default n
    help
    This module add app qoe function suport for kirin chipset.