#
# touch key driver configuration
#
menuconfig HW_RL_TOUCH_KEY
	bool "huawei touch key driver"
	default n
	help
	Say yes here to support for touch key.
menuconfig HW_PLAY_KEY
	bool "huawei play key driver"
	default n
	help
	Say yes here to support for touch key.
