config HISI_IPA_THERMAL
	tristate "Temperature sensor on ARM SoC based on HISI_THERMAL_TSENSOR interface"
	depends on HISI_THERMAL_TSENSOR
	depends on CPU_FREQ
	depends on OF
	select THERMAL_POWER_ACTOR_CPU
	help
	  Support for the HISI thermal sensor driver in the Linux thermal
	  framework.
config HISI_THERMAL_TSENSOR
	tristate "Hisi thermal sensor driver"
	default n
	help
	  Enable this to plug the thermal sensor driver into the Linux
	  thermal framework

config HISI_THERMAL_PERIPHERAL
	tristate "Hisi peripheral thermal driver"
	default n
	help
	  Enable this to plug the peripheral thermal sensor driver into the Linux
	  thermal framework

config HISI_THERMAL_PERIPHERAL_HIGHRESTEMP
	bool "High resolution thermal format for Hisi peripheral thermal driver"
	depends on HISI_THERMAL_PERIPHERAL
	default n
	help
	  Enable this to use hi-resolution temperature format for PERIPHERAL thermal.

config HISI_THERMAL_CONTEXTHUB
	bool "Hisi contexthub thermal driver"
	default n
	help
	  Enable Contexthub Thermal

config HISI_THERMAL_SPM
	bool "Hisi sustainable performance mode"
	depends on HISI_IPA_THERMAL
	default n
	help
	  Enable sustainable performance mode

config HISI_THERMAL_HOTPLUG
	bool "Hisi thermal hotplug support"
	depends on HOTPLUG_CPU
	depends on HISI_IPA_THERMAL
	default n
	help
	  Enable thermal hotplug

config HISI_HOTPLUG_EMULATION
	bool "Hisi thermal hotplug emulation support"
	depends on HISI_THERMAL_HOTPLUG
	default n
	help
	  Enable thermal hotplug emulation

config HISI_THERMAL_TRIP
	bool "Hisi trip point for thermal zone"
	depends on HISI_THERMAL_TSENSOR
	depends on HISI_THERMAL_PERIPHERAL
	depends on HISI_BCI_BATTERY
	default n
	help
	  Enable trip point for thermal zone

config HISI_THERMAL_SHELL
	bool "Hisi shell temp calculation"
	depends on HISI_THERMAL_PERIPHERAL
	depends on HISI_COUL
	default n
	help
	  Enable shell temp calculation
config HISI_SHELL_TEMP_DEBUG
	bool "Hisi shell temp debug configuration"
	depends on HISI_THERMAL_SHELL
	default n
	help
	  Enable debug node for shell temp calculation

config HISI_THERMAL_AMBIENT
	bool "Hisi ambient temp calculation"
	depends on HISI_THERMAL_PERIPHERAL
	depends on HISI_COUL
	default n
	help
	  Enable ambient temp calculation

config HISI_THERMAL_TRIPPLE_CLUSTERS
        bool "Hisi thermal support tripple clusters."
        depends on HISI_IPA_THERMAL
        default n
        help
          Support for the HISI tripple clusters.
