config ARM64_DSU_PCTRL_DEVFREQ
		tristate "ARM DSU Cache Portion Control DEVFREQ Driver"
		depends on ARCH_HISI && PM_DEVFREQ
		depends on ARM64
		select PM_OPP
	    help
		  This adds the DevFreq driver for energy-cost-justified demand-driven
		  portion control of the ARM DSU cache.
		  This driver does not control frequency.

		  It uses architecture specific instructions which might cause
		  fault when some ARM64 platform does not support it.
		  Make sure this driver works with your ARM64 platform.

		  If unsure, say N.

config HISI_DSU_PCTRL_DEBUG
		tristate "DSU Cache Portion Control SYSFS DEBUG"
		depends on ARM64_DSU_PCTRL_DEVFREQ
		default n
	    help
		  dsu pctrl driver sysfs debug
