config RIL_NETLINK_MODULE
	tristate "kernel space communicate with user space rild use netlink socket."
    default n
    help
	  This module adds support for data speed slow detecting funtion based on
	  Balong V3R3 chipset.
