comment "HISI ISP"

choice
	prompt "HISP Version"
	default HUAWEI_CAMERA_USE_HISP160
	depends on HUAWEI_CAMERA
	help
        Select ISP version.

config HUAWEI_CAMERA_USE_HISP160
	bool "HISP160"
	depends on HUAWEI_CAMERA

endchoice

