config HISI_L3C_DEVFREQ
		tristate "L3 cache DEVFREQ Driver"
		depends on ARCH_HISI && PM_DEVFREQ && ARM_DSU_PMU
		select PM_OPP
	    help
			This enables the hisilicon l3c devfreq driver.

config HISI_HW_VOTE_L3C_FREQ
		bool "Enable hardware vote l3c dvfs feature"
		depends on HISI_L3C_DEVFREQ && HISI_HW_VOTE
		default n
		help
		  enable hardware vote l3c dvfs feature

config HISI_CPUFREQ_LINK_L3CACHE
		bool "Enable CPUFREQ LINK L3CACHE feature"
		depends on HISI_L3C_DEVFREQ
		default n
		help
		  enable cpufreq link l3cache feature

config HISI_L3C_DEVFREQ_DEBUG
		tristate "L3C DEVFREQ SYSFS DEBUG"
		depends on HISI_L3C_DEVFREQ
		default n
	    help
		  l3c devfreq driver sysfs debug
