#
# (C) COPYRIGHT 2012 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#



config MALI_T830
        tristate "Mali t83x configs"
        default n

config MALI_MIMIR
        tristate "Mali tMix configs"
        default n

config MALI_HEIMDALL
        tristate "Mali tHEx configs"
        default n

config MALI_SIGURD
        tristate "Mali tSIx configs"
        default n

config MALI_NORR
        tristate "Mali tNOx configs"
        default n

config MALI_TRYM
        tristate "Mali TRYM configs"
        default n

config MALI_GONDUL
        tristate "Mali tGOx configs"
        default n
menu "ARM GPU Configuration"

if MALI_T830
endif

if MALI_MIMIR
#source "drivers/gpu/arm/bifrost-r2p0-02dev0/Kconfig"
#source "drivers/gpu/arm/bifrost-r5p0-01rel0/Kconfig"
#source "drivers/gpu/arm/bifrost-r6p0-cet/Kconfig"
#source "drivers/gpu/arm/bifrost-r7p0-00cet0/Kconfig"
#source "drivers/gpu/arm/bifrost-r8p0-00cet0/Kconfig"
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

if MALI_HEIMDALL
#source "drivers/gpu/arm/bifrost-r2p0-03rel0/Kconfig"
#source "drivers/gpu/arm/bifrost-r4p0-01rel0/Kconfig"
#source "drivers/gpu/arm/bifrost-r6p0-cet/Kconfig"
#source "drivers/gpu/arm/bifrost-r7p0-00cet0/Kconfig"
#source "drivers/gpu/arm/bifrost-r8p0-00cet0/Kconfig"
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

if MALI_SIGURD
#source "drivers/gpu/arm/bifrost-r7p0-00cet0/Kconfig"
#source "drivers/gpu/arm/bifrost-r8p0-01rel0/Kconfig"
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

if MALI_NORR
#source "drivers/gpu/arm/bifrost-r6p0-cet/Kconfig"
#source "drivers/gpu/arm/bifrost-r7p0-00cet0/Kconfig"
#source "drivers/gpu/arm/bifrost-r8p0-00cet0/Kconfig"
#source "drivers/gpu/arm/bifrost-r9p0-00cet0/Kconfig"
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

if MALI_TRYM
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

if MALI_GONDUL
source "drivers/gpu/arm/bifrost-r14p0-00cet0/Kconfig"
endif

endmenu
